DirectoryIndex dist/index.html index.php index.html

RewriteEngine On
RewriteCond %{REQUEST_URI} !^/dist/
RewriteCond %{REQUEST_URI} !^/api/
RewriteRule ^(.*)$ /dist/$1 [L]

<FilesMatch "\.(html|htm)$">
    FileETag None
    <IfModule mod_headers.c>
        Header unset ETag
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
    </IfModule>
</FilesMatch>

<IfModule LiteSpeed>
    CacheDisable public /
</IfModule>
